.banner {
	height: 100px;
	.header-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		a.brand {
			position: absolute;
			left: 30px;
			top:30px;
    		border-bottom: none;
			&:hover {
				border-bottom: none;
			}
			@include media-breakpoint-down(md) {
				left: 20px;
				top:10px;
				svg {
					width: 50px;
				}
			}
		}
		.main-nav,
		.global-nav,
		.sub-nav {
			@extend .list-unstyled;
			
		}
		.global-nav {
			display:flex;
		}
		.main-nav {
			@include media-breakpoint-up(lg){
				display:flex;
			}
		}
		
		.main-nav-item > a {
			margin: 0 26px 0 0;
			@include x-rem(font-size, 1.8);
			&:last-child {
				margin-right: 0;
			}
			
		}
		.main-nav-item.current > a,
		.sub-nav-item.current > a {
			color: $pri_orange;
			font-weight:500;
			border-bottom: 1px solid $pri_orange;
		}

		

		.global-nav {
			@include media-breakpoint-up(lg) {
				position: absolute;
				right: 0;
				top:0;
			}
			
		}
		.global-nav-item {
			margin-bottom: 0;
			a {
				@include x-rem(font-size, 1.4);
				@include media-breakpoint-up(lg) {
					margin: 0 24px 0 0;
				}
			}
		}
	}
}

.info-banner {
	display: none;
	.btn-close {
		position: absolute;
		right: 30px;
	}
}
.sub-nav-toggle {
	display:none;
}

.menu-button {
	&:active,
	&:focus {
		outline: none;
	}

	@include media-breakpoint-up(lg) {
		display:none;
	}
}

@include media-breakpoint-up(lg) {
	.sub-nav {				
		display:none;
		position: absolute;
		left: -21.666%;
		width: 180px;
		top: 120px;
		line-height: 189%;
		white-space: nowrap;
	}

	.main-nav-item.current.show-sub {
		.sub-nav {
			display:block;
		}
	}	
}
