<div class="accordion">
  <div class="top">
    <button>{{ entry['Title'] }}</button>

    <svg stroke="currentColor"
         fill="currentColor"
         stroke-width="0"
         viewBox="0 0 24 24"
         aria-label="{% trans %}Visa text{% endtrans %}"
         height="1em"
         width="1em"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
    </svg>

    <svg stroke="currentColor"
         fill="currentColor"
         stroke-width="0"
         viewBox="0 0 24 24"
         aria-label="{% trans %}Dölj text{% endtrans %}"
         height="1em"
         width="1em"
         class="d-none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M19 13H5v-2h14v2z">
      </path>
    </svg>

  </div>
  <div>
    <p>
    {% for text, link in entry['Links'].items() %}
    <a href="{{ link }}">{{ text }}</a>
      <br>
    {% endfor %}
    </p>
  </div>
</div>
