{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% set tabtitle = page.title %}
{% if page.tabtitle %}
  {% set tabtitle = page.tabtitle %}
{% endif %}

{% block title %}{{ tabtitle|striptags  }} | {{ SITENAME|striptags }}{% endblock %}

{% block setsection %}
  {% set segments = page.slug.split('/') %}
  {% set ns.section = segments[0] %}
  {% if segments|length() > 1 %}
    {% set ns.subsection = segments[1] %}
  {% endif %}
  {% if segments|length() > 2 %}
    {% set ns.subsubsection = segments[2] %}
  {% endif %}
  {{ super() }}
{% endblock setsection %}

{% block content %}
  {% if ns.section == 'arenden' %}
    {% if ns.subsection == 'none' %}
      {% include 'tickets.html' %}
    {% else %}
      {% include 'ticket.html' %}
    {% endif %}
  {% elif ns.section == 'services' %}
    {% if ns.subsubsection == 'none' %}
      {% include 'services-list-script.html' %}
      {% include 'services-front.html' %}
    {% else %}
      {% include 'service.html' %}
    {% endif %}
  {% elif ns.section == 'projekt' %}
    {% if ns.subsubsection == 'none' %}
      {% include 'projects-list-script.html' %}
      {% include 'projects-front.html' %}
    {% else %}
      {% include 'service.html' %}
    {% endif %}
  {% elif ns.section == 'om-sunet' %}
    {% if ns.subsection == 'aktuellt' %}
      {% if ns.subsubsection == 'none' %}
        {% include 'aktuellt-front.html' %}
      {% elif ns.subsubsection == 'nyheter' %}
        {% include 'news-front.html' %}
      {% elif ns.subsubsection == 'blogg' %}
        {% include 'news-front.html' %}
      {% elif ns.subsubsection == 'evenemang' %}
        {% include 'evenemang-front.html' %}
      {% endif %}
    {% elif ns.subsection == 'nyhetsbrev' %}
      {% include 'subscribe.html' %}
    {% else %}
      {% include 'plain-page.html' %}
    {% endif %}
  {% elif ns.section == 'kontakt' %}
    {% if ns.subsection == 'medarbetare' %}
      {% include 'medarbetare.html' %}
    {% else %}
      {% include 'plain-page.html' %}
    {% endif %}
  {% else %}
    {% include 'plain-page.html' %}
  {% endif %}
{% endblock %}
