<div class="bg-grey">
  <div class="container listing">
    <div class="row">
      <div class="col filter-container">
        {% include 'toggle-list-grid-buttons.html' %}
      </div>
    </div>
    <div class="row">
      <div id="card-display" class="col cards list">
      {% for page in pages %}
        {% set fragments = page.slug.split('/') %}
        {% if fragments[0] == ns.section and fragments|length() > 2 %}
          {% set i = loop.index + 1 %}
          {% include 'projects-list-item.html' %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>

