<script  type="text/javascript">
  window.addEventListener('load', (e) => {
    const gridSetter = document.getElementById("toggle-service-grid");
    const listSetter = document.getElementById("toggle-service-list");

    const cardDisplay = document.getElementById("card-display");

    gridSetter.addEventListener('click', event => {
      gridSetter.classList.add('on');
      listSetter.classList.remove('on');
      cardDisplay.classList.remove('list');
    })

    listSetter.addEventListener('click', event => {
      gridSetter.classList.remove('on');
      listSetter.classList.add('on');
      cardDisplay.classList.add('list');
    })
  })
</script>


