<div class="bg-grey">
  <div class="container listing">
    <div class="row">
      <div class="col filter-container">
        <div class="filter-toggle">
          <a class="all active category-chooser" data-category="all">
            <li>{% trans %}Visa alla{% endtrans %}</li>
          </a>
          {% for cat in ES_SCATS[ns.section] %}
          <a class="{{ cat['slug'] }} null category-chooser" data-category="{{ cat['slug'] }}">
            <li>{{ cat['title'][LANG] }}</li>
          </a>
          {% endfor %}
        </div>
        {% include 'toggle-list-grid-buttons.html' %}
      </div>
    </div>
    {% if ns.subsection == 'none' %}
      {% set current_category = 'all' %}
    {% else %}
      {% set current_category = ns.subsection %}
    {% endif %}
    <div id="card-reservoir" class="d-none" data-current="{{ current_category }}">
      {% for page in pages %}
        {% set fragments = page.slug.split('/') %}
        {% if fragments[0] == ns.section and fragments|length() > 2 %}
          {% set i = loop.index + 1 %}
          {% include 'services-list-item.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div id="card-display" class="col cards">
      </div>
    </div>
  </div>
</div>
