<ul class="listStyle-toggle">
  <a class="toggle-grid on" id="toggle-service-grid">
    <li>
      <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="{% trans %}Visa som grid{% endtrans %}">
        <title>{% trans %}Visa som grid{% endtrans %}</title>
        <rect x="10" width="8" height="4" fill="black"></rect>
        <rect x="10" y="8" width="8" height="4" fill="black"></rect>
        <rect x="10" y="16" width="8" height="4" fill="black"></rect>
        <path d="M0 16H8V20H0V16Z" fill="black"></path>
        <rect y="8" width="8" height="4" fill="black"></rect>
        <rect width="8" height="4" fill="black"></rect>
        <rect x="20" width="8" height="4" fill="black"></rect>
        <rect x="20" y="8" width="8" height="4" fill="black"></rect>
        <rect x="20" y="16" width="8" height="4" fill="black"></rect>
      </svg>
    </li>
  </a>
  <a class="toggle-list" id="toggle-service-list">
    <li>
      <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="{% trans %}Visa som lista{% endtrans %}">
        <title>{% trans %}Visa som lista{% endtrans %}</title>
        <rect width="28" height="4" fill="black"></rect>
        <rect y="8" width="28" height="4" fill="black"></rect>
        <rect y="16" width="28" height="4" fill="black"></rect>
      </svg>
    </li>
  </a>
</ul>
